<div id="listeBonbonEnPoche">
  <h1>Bonbons collectés :</h1>
  <div class="bonbonEnPoche" *ngFor="let bonbon of bonbonEnPoche">
    <h2>{{ bonbon.getNom() }}</h2>
    <img src="{{ bonbon.getImg() }}" alt="bonbon en poche" />
  </div>
</div>

<div id="listeBonbons">
  <h1>Liste de tout les bonbons :</h1>

  <div>
    <label for="recherche">Recherche de bonbon :</label>
    <input id="recherche" type="text" [(ngModel)]="recherche" />
  </div>
    
  <div class="bonbon" *ngFor="let bonbon of tableauBonbons | triBonbon:recherche" (click)="addBonbon(bonbon)" >
    <h2>{{ bonbon.getNom() }}</h2>
    <img src="{{ bonbon.getImg() }}" alt="bonbon" />
  </div>
</div>