.bonbon {
  /* background-color : #BBB; */
  border: 1px solid white;
  color: orange;
  /* margin-bottom : 1rem; */
  background-color: black;
  cursor : pointer;
}

.close
{
  position : absolute;
  right : 0;
  top : 1.5%;
  color : orange;
}

.bonbonEnPoche {
  border: 1px solid darkorange;
  color: darkorange;
  text-align: left;
}

div h2 {
  text-align: center;
  font-size: 2rem;
  color: darkorange;
}

#listeBonbonEnPoche h3 {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline orange;
}

#listeBonbons h3 {
  text-align: center;
  font-size: 1.2rem;
}

label {
    margin: 0;
    display: flex;
    align-self: center;
}

#listeBonbonEnPoche {
  margin-bottom: 1rem;
  background-color: black;
}

#listeBonbons {
  background-color: black;
}

input {
  background-color : #BBB; 
}

input:focus {
  background-color : #DDD; 
}