<div id="sign-in-overlay">
  <div class="col-10 col-md-8 col-lg-6" id="text">
    <form>
      <i class="fas fa-times float-right" (click)="off()"> </i>
      <div class="form-group col-8 ml-auto mr-auto">
        <label for="sign-in-email">E-mail</label>
        <input class="form-control" type="email" id="sign-in-email" placeholder="example@example.com">
      </div>
      <div class="form-group col-8 ml-auto mr-auto">
        <label for="sign-in-password">Password</label>
        <input class="form-control" type="password" id="sign-in-password" placeholder="Password">
      </div>
      <div class="col-8 ml-auto mr-auto">
        <button class="form-button btn col-12" type="submit" (click)="off()">Sign in</button>
      </div>
    </form>
  </div>
</div>

<div id="register-overlay">
  <div class="col-10 col-md-8 col-lg-6" id="text">
    <form>
      <i class="fas fa-times float-right" (click)="off()"> </i>
      <div class="form-group col-8 ml-auto mr-auto">
        <label for="register-name">Your CandyHunter name</label>
        <input type="text" class="form-control" id="register-name" placeholder="TheBestHunterEver">
      </div>
      <div class="form-group col-8 ml-auto mr-auto">
        <label for="register-email">E-mail</label>
        <input type="email" class="form-control" id="register-email" placeholder="example@example.com">
      </div>
      <div class="form-group col-8 ml-auto mr-auto">
        <label for="register-password">Password</label>
        <input type="password" class="form-control" id="register-password" placeholder="Password">
      </div>
      <div class="form-group col-8 ml-auto mr-auto">
        <label for="register-confirm-password">Confirm password</label>
        <input type="password" class="form-control" id="register-confirm-password" placeholder="Password">
      </div>
      <div class="col-8 ml-auto mr-auto">
        <button class="form-button btn col-12" type="submit" (click)="off()">Sign in</button>
      </div>
    </form>
  </div>
</div>

<div id="header" class="container-fluid">

  <div class="container-titre-app row">
    <div class="titre-app col-9">CANDYDEX</div>
    <div class="logo-connexion col-3">
      <button class="front-button col-12" type="button" (click)="signInOn()">Sign-In</button>
      <button class="front-button col-12" type="button" (click)="registerOn()">Register</button>
    </div>
  </div>

  <!--_________________ NAV BAR ___________________-->

  <div class="container-nav-bar container-fluid">
    <div class="group-boutton-nav-bar row">
      <div class="boutton-nav-bar col-4"><a href="#googleMap">Map</a></div>
      <div class="boutton-nav-bar col-4"><a href="#listeBonbons">Candy List</a></div>
      <div class="boutton-nav-bar col-4"><a href="#listeBonbonEnPoche">My Collection</a></div>
    </div>
  </div>

  <!--__________________ PLACE IMAGE API______________________-->

  <div class="container-image-api offset-1 col-10 offset-1">
    <h2>CANDY CAPTURE</h2>
    <div class="image-candy img-fluid">
      <img src="../../assets/halloween-600x450.png" />
    </div>

    <h2>DESCRIPTION</h2>
    <div class="description-candy">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aperiam molestiae laborum omnis et facilis
        amet recusandae sapiente sunt voluptatem saepe fugiat, distinctio quasi possimus, voluptate ducimus officia
        nostrum eius.</p>
    </div>
  </div>
<!--____________________ FIN ______________________________-->
</div> 
