<!--_________________ ENTETE BONBONDEX_________________-->

<div class="container-fluid">
    
    <div class="container-titre-app row">
        <div class="titre-app col-9">BONBONDEX</div>
        <div class="logo-connexion col-3">Logo sign-up</div>
    </div>

<!--_________________ NAV BAR ___________________-->

    <div class="container-nav-bar container-fluid">
        <div class="row">
            <div class="col-2"> Map </div><p> | </p>
            <div class="col-4"> Candy List </div><p> | </p>
            <div class="col-5"> My Collection </div>
        </div>
    </div>
    

