<!--_________________ ENTETE BONBONDEX_________________-->

<div class="container-fluid">
    
    <div class="container-titre-app row">
        <div class="titre-app col-9">CANDYDEX</div>
        <div class="logo-connexion col-3">
            <p>Logo Sign-up</p>
            <p>Logo Sign-in</p>
        </div>
    </div>

<!--_________________ NAV BAR ___________________-->

    <div class="container-nav-bar container-fluid">
        <div class="group-boutton-nav-bar row">
            <div class="boutton-nav-bar col-4"> Map </div>
            <div class="boutton-nav-bar col-4"> Candy List </div>
            <div class="boutton-nav-bar col-4"> My Collection </div>
        </div>
    </div>
    
<!--__________________ PLACE IMAGE API______________________-->

    <div class="container-image-api offset-1 col-10 offset-1">
        <h2>CANDY CAPTURE</h2>
        <div class="image-candy img-fluid">
            <img src="../../assets/halloween-600x450.png"/>
        </div>
        <div class="description-candy">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aperiam molestiae laborum omnis et facilis amet recusandae sapiente sunt voluptatem saepe fugiat, distinctio quasi possimus, voluptate ducimus officia nostrum eius.</p>
        </div>
    </div>
