*{
    font-family: 'Bonbon';
    margin: 0;
    padding: 0;
 }

/*__________container du site___________*/
.container-fluid {
    background-color: #000001;
    color: #FF5800;
}

/*__________container titre___________*/
.container-titre-app{
    height: 3rem;
    color: #F30605;
    font-size: 3rem;
}
 

.titre-app{
    background-color: #00005e;
    text-align: center;
}

.logo-connexion{
    background-color: aqua;
    color: #FFFFFF;
}

/*__________container Nav Bar___________*/
.container-nav-bar{
    display: inline-block;
    text-align: center;    
}
.boutton-nav-bar{
    border-right: 1px solid #FF5800;
    border-left: 1px solid #FF5800;
}

.boutton-nav-bar:hover{
    background-color: #FF5800;
    color: #000001;    
}