<div class="body">
  
 <div class="user"><img src="../../assets/haloImage/ghost.png">
  <div class="compte"><span>My Account</span></div></div>
  <div class="container-fluid d-flex flex-row justify-content-start mt-3" id="title">
    

    <h1 class="col-6" id="logo"><a routerLink="/main" id="link-logo">TRICK OR TREAT</a></h1>

 </div>
 
  <div class= "menu" >
  <a href="">
  <div id="btn1" class="button">
    <h1><a routerLink="/main/">My Candy Bag</a></h1>
  </div>
</a>

<a href="">
  <div id="btn2" class="button">
    <h1><a routerLink="/main/">My Wishlist</a></h1>
  </div>
</a>
<a href="">
  <div id="btn3" class="button">
    <h1><a routerLink="/main/">Geocatching</a></h1>
  </div>
</a>
</div>

  <div class="container-fluid d-flex">

    <div class="row">
      <div class="col-2 col-sm-4">
        <p>Terms of Service</p>
      </div>
      <div class="col-4 col-sm-4">
        <p>Community</p>
      </div>

      <div class="col-6 col-sm-4">
        <img src="https://icon-icons.com/icons2/1043/PNG/512/social_media_icons_flat_shadow_set_512x512_0000_facebook_icon-icons.com_76449.png"
          width="50" height="50">

        <img src="https://icon-icons.com/icons2/1043/PNG/512/social_media_icons_flat_shadow_set_512x512_0002_twitter_icon-icons.com_76451.png"
          class="mr-2 ml-2" width="50" height="50">

        <img src="https://icon-icons.com/icons2/1043/PNG/512/social_media_icons_flat_shadow_set_512x512_0003_google_icon-icons.com_76452.png"
          width="50" height="50">
      </div>

      
    </div>
  </div>
</div>
