<div class="body">

  <!-- <div class=" card card-body d-md-none justify-content-center" id="collapseExample">
  <div class="card-title pl-5 border-bottom" id="hidden-menu-title">Menu</div>
  <ul class="d-flex flex-column align-items-start">
        <li class="burger-inside mt-5 border-bottom border-light">
            <a routerLink="" onclick="blurEffect(); readBurger()" class="burger-inside-link">Home</a>
        </li>
      <li class="burger-inside mt-5 mb-5 border-bottom border-light">
          <a routerLink="My Candy Bag" onclick="blurEffect(); readBurger()" class="burger-inside-link">My Candy Bag</a>
      </li>
      <li class="burger-inside mb-5 border-bottom border-light">
          <a routerLink="My Wishlist" onclick="blurEffect(); readBurger()" href="#" class="burger-inside-link">My Wishlist</a>
      </li>
      <li class="burger-inside border-bottom border-light">
          <a routerLink="map" href="#" onclick="blurEffect(); readBurger()" class="burger-inside-link">Geocatching</a>
      </li>
  </ul>
  
</div>  
 -->



  <div class="container-fluid d-flex flex-row justify-content-start mt-3" id="title">

    <h1 class="col-6" id="logo"><a href="#" id="link-logo">TRICK OR TREAT</a></h1>

    <div class="avatar" id="lien_menu">Menu</div>
  </div>





  <div class="container-fluid d-flex">

    <div class="row">
      <div class="col-2 col-sm-4">
        <p>Help</p>
      </div>
      <div class="col-4 col-sm-4">
        <p>Community</p>
      </div>

      <div class="col-6 col-sm-4">
        <img src="https://icon-icons.com/icons2/1043/PNG/512/social_media_icons_flat_shadow_set_512x512_0000_facebook_icon-icons.com_76449.png"
          width="50" height="50">

        <img src="https://icon-icons.com/icons2/1043/PNG/512/social_media_icons_flat_shadow_set_512x512_0002_twitter_icon-icons.com_76451.png"
          class="mr-2 ml-2" width="50" height="50">

        <img src="https://icon-icons.com/icons2/1043/PNG/512/social_media_icons_flat_shadow_set_512x512_0003_google_icon-icons.com_76452.png"
          width="50" height="50">
      </div>


    </div>
  </div>
</div>
